# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.venv/
venv/
.env
.env.*
.pytest_cache/
.ipynb_checkpoints/

# OS/editor
.DS_Store
.idea/
.vscode/

# Playwright
playwright/.cache/

